body{
	background-color: rgba(0, 0, 0, 0.926);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
nav{
	background-color: goldenrod;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.link{
	text-decoration: none;
	font-size: 35px;
	color: snow;
	font-family: fantasy;
	margin: 50px;

}
.link:hover{
	font-weight: bolder;
	color: black;
}

.rasm{
	width: 70%;
	margin: 30px;
	box-shadow: goldenrod;
}



footer{
	background-color: goldenrod;
	height: 35px;
	text-align: center;
	margin-top: 45px;
	color: snow;
	font-size: 30px;
	font-family:fantasy ;
	width: 100%;
}